html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f8f8ff;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 16px;
}

#calendar {
    border: 1px solid black;
    text-align: center;
    flex: 1;
}

#calendar>table {
    width: 100%;
    padding: 16px;
}

.calendar-cell {
    height: 50px;
    border: 1px solid black;
    text-align: left;
    vertical-align: text-top;
}

.calendar-cell-selected {
    background-color: bisque;
}

#date-event {
    border: 1px solid black;
    padding: 16px;
    flex: 0.5;
}